@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background: #EEEEEE;
  --myblue: #5AB2FF;
  --mygreen: #16C47F;
  --foreground: #F7F7F7;
  --myblack: #151515;
  --text: #303841;
  --myyellow: #FFB22C;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --myblue: #5AB2FF;
    --mygreen: #16C47F;
    --foreground: #3D3B40;
    --text: #181C14;
    --myyellow: #FFB22C;


  }
}

.dark {
  --foreground: #151515;
  /* --background: #151515; */
  --myblue: #5AB2FF;
  --mygreen: #16C47F;
  --background: #3D3B40;
  --text: #D0D4CA;
  --myyellow: #FFB22C;
}

body {
  color: var(--color);
  background: var(--background);
  font-family: "Rubik";
}